.button {
  position: relative;
  color: #fff;
  overflow: hidden;
  padding: 20px 20px;
  width: 200px;
  border-radius: 50px;
  box-sizing: border-box;
  z-index: 10;

}

.poison {
  position: absolute;
  background-image: linear-gradient(to bottom right, #9A4DFF, #4FE9FF);
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 1s;
}

.poison::before,
.poison::after {
  content: "";
  width: 300%;
  height: 300%;
  position: absolute;
  top: -120px;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, -80%);
}

.poison::before {
  border-radius: 43%;
  background-color: rgba(20, 20, 20, 0.9);
  animation: rotate 7s linear infinite;
}
.poison::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.7);
  animation: rotate 10s linear infinite;
}

.button:hover .poison{
  top: -200%;

}

@keyframes rotate {
  0% {
    transform: translate(-50%, -80%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -80%) rotate(360deg);
  }
}
