
.rec.rec-arrow {
    border-radius: 50%;
    color:rgb(204, 223, 223);
    background: rgb(119, 119, 119);
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background: rgb(115, 115, 115);

}
.rec.rec-arrow:hover:enabled {
    border-radius: 50%;
    background: rgb(139, 139, 139);

}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
    /* visibility: hidden; */
}

.rec.rec-dot:hover{
    box-shadow:0 0 1px 3px rgb(119, 119, 119);
}
.rec.rec-dot_active:enabled{
    background-color: rgb(101, 101, 101);
    box-shadow:0 0 1px 3px rgb(107, 107, 107);

}
.rec.rec-dot_active:enabled:hover{
    box-shadow:0 0 1px 3px rgba(72, 72, 72, 0.5);

}
.rec.rec-dot_active:enabled:active{
    box-shadow:0 0 1px 3px rgb(96, 96, 96);

}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;

    box-shadow: inset 0 0 1px 1px lightgrey;
}

@media only screen and (max-width: 450px) {
    .rec.rec-arrow {
       min-width:30px;
       height: 35.72px;
       font-size: 1.4rem;
       line-height: 35px;
    }
    .rec.rec-dot{
        height: 7px;
        width: 7px;    }
  }